* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #180d39;
}

.page1 {
  background-color: #e9f3f4;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 80px;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 10px;
}
.navbar img {
  width: 40px;
  height: 40px;
}
.logo {
  font-size: 30px;
  font-weight: bold;
}

.nav_links {
  display: flex;
  margin-right: auto;   
  gap: 50px; 
  margin-left: 7vw; 
}

.nav_links a {
  text-decoration: none;
  color: #180d39;
  font-size: 16px;
}

.nav_buttons .login {
  background: transparent;
  padding: 10px 30px;
  border: 1px solid #180d39;
  border-radius: 10px;
  cursor: pointer;
}
.nav_buttons .signup {
  background: #2a8e9e;
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  margin-left: 15px;
  cursor: pointer;
}

.hero-flex {
  display: flex;
  justify-content: center; 
  align-items: center;
  padding: 80px;
  max-width: 1400px;
  margin: 0 auto;
  gap: 40px; 
}

.hero-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px; 
}
.txt {
    display: flex;
    flex-direction: column;
    gap: 10px; 
}
.txt h1 {
  font-size: 60px;
  font-weight: 700;
}
.txt .second {
  font-size: 55px;
  font-weight: 600;
}
.txt .third {
  color: grey;
  font-size: 18px;
}

.mail-box {
  margin-top: 35px;
  display: flex;
  background: white;
  padding: 6px;
  border-radius: 15px;
  width: 450px;
  border: 1px solid #ddd;
}

.mail-box input {
  flex: 1;
  border: none;
  outline: none;
  padding: 12px;
}
.mail-box button {
  background: #2f8f9d;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 15px 30px;
  cursor: pointer;
}

.names {
  display: flex;
  gap: 40px;
  margin-top: 50px;
  font-size: 33px;
  font-weight: bold;
}

.ui-wrapper {
  flex: 1;
  display: flex;
  position: relative;
  padding-right: 2px; 
}
.invoice-card {
  background: white;
  width: 400px;
  border-radius: 24px;
  padding: 25px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
}

.user {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 20px;
}
.userlogo {
  width: 44px;
  height: 44px;
  border-radius: 12px;
}

.invoice-box {
  border: 2px solid #e9f3f4;
  border-radius: 18px;
  padding: 20px;
  right: 50px;
  margin-bottom: 20px;
}
.invoice-box h1 {
  font-size: 30px;
  color: #052b3a;
  margin: 5px 0;
}

.method {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border: 2px solid #e9f3f4;
  border-radius: 16px;
  margin-bottom: 10px;
}
.method.active {
  border-color: #2a8e9e;
}
.radio {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid #ccc;
}
.radio.active {
  background: radial-gradient(circle, #2a8e9e 40%, white 42%);
  border-color: #2a8e9e;
}

.pay-btn {
  width: 100%;
  padding: 15px;
  background: #052b3a;
  color: white;
  border: none;
  border-radius: 16px;
  font-size: 16px;
  cursor: pointer;
}

.credit-card {
  position: absolute;
  top: -45px;
  right: 145px;
  width: 215px;
  height: 285px;
  border-radius: 21px;
  padding: 16px;
  background: linear-gradient(to bottom, #2a8e9e 75%, #052b3a 75%);
  color: white;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
}

.cc-footer {
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin-top: 185px;
  gap: 80px;
}

.cc-label {
  font-size: 14px;
  opacity: 0.8;
  justify-content: center;

}

.hero2 {
  background: linear-gradient(
    to bottom, 
    #e9f3f4 25%, 
    #ffffff 25%
  );
  display: flex;
  justify-content: center;
}

.card3 {
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
  background: white;
  padding: 5% 7%;
  border-radius: 30px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.06);
  position: relative;
}


.card3-icons img {
  position: absolute;
  width: 50px;  
  opacity: 0.8;
}

.cimg1 {
  top: 40px;
  left: 40px;
  width: 60px;       
  height: auto;        
  margin-bottom: 30px;
}

.cimg2 {
  top: 120px;
  left: 60px;
  width: 60px;       
  height: auto;        
  margin-bottom: 30px;
}
.cimg3 {
  top: 80px;
  left: 130px;
  width: 55px;       
  height: auto;        
  margin-bottom: 20px;
}

.card3-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 80px;
  position: relative;
  z-index: 1;  
}

.midc {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.2;
}
.topc {
  color: #2a8e9e;
  font-weight: bold;
  margin-bottom: 10px;
  line-height: 2;
}
.rcornerc {
  max-width: 450px;
  color: grey;
  font-size: 18px;
  line-height: 1.5;
}

.card3-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.info-col .tg {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}
.info-col .info {
  color: grey;
  font-size: 18px;
  line-height: 1.6;
}

.why-us {
  padding: 50px 50px;
  text-align: center;
}

.why-us .small-title {
  color: #2a8e9e;
}



.main-title {
  font-size: 42px;
  margin: 20px 0 60px;
}
.cards {
  display: flex;
  justify-content: center; 
  gap: 30px;              
  width: 100%;
}

.card {
  background: #e9f3f4;
  border-radius: 28px;
  padding: 60px;
  text-align: left;
}

.why-us img {
  margin-top: 60px;
}

.card-text {
  color: #180d39;
  font-size: 30px;
}

.big-number {
  font-size: 100px;
  color: #2a8e9e;
}

.analytics {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #e9f3f4;
  margin: 0 250px;
  padding: 80px 80px 0px 80px;
  border-radius: 30px;
  gap: 60px;
}
.analytics-left h2 {
  font-size: 40px;
  margin-bottom: 20px;
}
.analytics-left p {
  color: #6b7c87;
  font-size: 18px;
  line-height: 1.6;
}
.chart-card {
  background: white;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  padding: 30px;
  width: 100%;
  max-width: 600px;
}

.chart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.chart-header h3 {
  font-size: 24px;
}

.chart {
  width: 100%;
  margin-top: 20px;
}

.whyanalytics {
  background: white;
  padding: 80px 0;
}

.steps-section {
  display: flex;
  flex-direction: column;
  background: #063648;
  color: white;
  padding: 100px 80px;
  gap: 40px;
}
.steps-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
.step-card {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.05);
  padding: 40px;
  border-radius: 24px;
  gap: 15px;
}
.step-number {
  font-size: 72px;
  font-weight: bold;
  opacity: 0.2;
  margin-bottom: 20px;
  display: block;
}

.mission-info {
  max-width: 800px;
  margin: 0 auto 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mission-title {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.4;
}

.mission-label {
  color: #2a8e9e;
  letter-spacing: 1px;
  font-size: 15px;
}

.mission-subtitle {
  color: #6b7c87;
  font-size: 18px;
  line-height: 1.6;
}

.mission-section {
  padding: 80px 80px 0px 80px;
  text-align: center;
}
.mission-stats {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin: 60px 0;
}
.stat h3 {
  font-size: 48px;
}

.plans {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  max-width: 1000px;
  margin: 40px auto;
}
.plan-card {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 50px 80px 40px 40px;
  border-radius: 28px;
  text-align: left;
}

.plan-card h4 {
  font-size: 32px;
  margin-bottom: 20px;
}

.plan-card.light {
  background: #e9f3f4;
}
.plan-card.dark {
  background: #2a8e9e;
  color: white;
}
.plan-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  font-size: 28px;
}

.levelup-section {
    background: linear-gradient(to top, #e9f3f4 40%, white 40%);

  padding: 80px 120px 80px 120px
}
.levelup-card {
  background: #083a4d;
  border-radius: 20px;
  padding: 60px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.levelup-content .levelup-tag {
  color: #2a8e9e;
  font-size: 14px;
}

.levelup-content p {
  line-height: 2;
  font-size: 16px;
}

.levelup-content h2 {
  font-size: 42px;
  line-height: 1.6;
}

.levelup-actions {
  display: flex;
  gap: 20px;
}
.btn-primary {
  background: #2f8f9d;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 10px;
  cursor: pointer;
}
.btn-outline {
  background: transparent;
  border: 1px solid white;
  color: white;
  padding: 15px 30px;
  border-radius: 10px;
  cursor: pointer;
}

.footer {
  background: #e9f3f4;
  padding: 10px 120px 60px 120px;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.footer-links {
  display: flex;
  gap: 80px;
}

.footer-col h4 {
  font-size: 18px;
  margin-bottom: 50px;
}

.footer-col a {
  display: block;
  text-decoration: none;
  color: #6b7280;
  margin-bottom: 12px;
}
.footer-divider {
  height: 1px;
  background: #d1d5db;
  margin: 40px 0;
}
.footer-bottom {
  text-align: center;
  color: #6b7280;
}

.footer-social {
  line-height: 2;
}

.footer-social .social-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 768px) {
  
  .hero-flex, 
  .analytics, 
  .footer-top, 
  .levelup-card {
    flex-direction: column; 
    padding: 40px 20px;     
    gap: 40px;
  }

  .hero-flex {
    margin-top: 20px;
  }
  .txt h1, .txt .second {
    font-size: 36px;        
  }
  .mail-box {
    width: 100%;            
  }
  .ui-wrapper {
    justify-content: center;
    padding-right: 0;
  }

  .card3-grid, 
  .steps-cards, 
  .footer-links {
    grid-template-columns: 1fr; 
    gap: 30px;
  }

  .names {
    flex-direction: column;
    gap: 20px;
  }

  .cards, .plans {
    flex-direction: column;
    align-items: center;
  }
  .card, .plan-card {
    width: 100%;
    max-width: 100%;
    flex: none;            
  }

  .why-us img {
    width: 100%;
  }

  .analytics {
    margin: 0 20px;         
    width: auto;
  }
  .analytics-right {
    display: none;
    width: 100%;
    justify-content: center;
  }
  .chart-card {
    max-width: 100%;
  }

  .navbar {
    padding: 20px;
  }

  .nav_buttons {
    display: none;        
  }

  .nav_links {
    display: none;     
  }

  .levelup-section {
    padding: 40px 20px 40px 20px;
  }
}

@media (max-width: 425px) {
  .analytics, 
  .hero-flex, 
  .card3, 
  .mission-section,
  .levelup-section {
    margin: 0 15px;      
    width: auto;        
    padding: 40px 20px;  
    flex-direction: column; 
    text-align: center;
  }

  .plans {
    display: flex;;
  }
  
  .analytics {
    gap: 30px;
    padding-bottom: 0;   
  }

  .analytics-left, .analytics-right {
    max-width: 100%;
    width: 100%;
  }

  .analytics-right img {
    display: none;
  }

  .analytics-left h2 {
    font-size: 32px;     
  }

  .cards {
    flex-direction: column;
    gap: 20px;
  }

  .card, .plan-card {
        width: 100%;
        max-width: 100%;
        flex: none;
    }

  .big-number {
    font-size: 70px;     
  }

  .navbar {
    padding: 20px;
  }

  .nav_links {
    display: none;       
  }

  .txt h1, .txt .second {
    font-size: 34px;    
  }

  .mail-box {
    width: 100%;         
    flex-direction: column;
    background: transparent;
    border: none;
    gap: 10px;
  }

  .mail-box input {
    background: white;
    border-radius: 10px;
    border: 1px solid #ddd;
  }
}

@media (max-width: 1024px) {
  .navbar,
  .hero-flex,
  .card3-header,
  .card3-grid,
  .analytics,
  .steps-cards,
  .footer-top,
  .mission-stats {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px 20px;
  }

  .nav_links {
    display: none;
  }
  .card3-icons {
    display: none;
  } 
  .card3-grid,
  .steps-cards,
  .plans {
    grid-template-columns: 1fr;
  }
  .ui-wrapper {
    margin-top: 80px;
  }
  .credit-card {
    position: static;
    margin-top: 20px;
  }
  .analytics {
    margin: 20px;
  }

  .analytics-right {
    display: none;
  }
} 
